.main-info-container {
  border: 1px solid lightgray;
  width: 100%;
  height: 300px;
  position: relative;
}
.main-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 48%;
}
.main-info__buttons {
   width: 100%;
   position: absolute;
   bottom: 10px;
   display: flex;
   justify-content: space-around;
}